.ws-background {
  background-image: url(../images/WelcomeScreenBackground.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.ws-login-container {
  display: flex;
  align-items: center;
  width: 76rem;
  height: auto;
  background: rgba(255, 255, 255, 0.3);
  border: 1;
  border-radius: 0.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  justify-content: center;
  box-shadow: 0 8px 32px 0 gray;
  backdrop-filter: blur(0.3rem);
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.ws-login-container:hover {
  box-shadow: 4px 12px 36px 0 gray;
}

.ws-column {
  flex: 50%;
  border-radius: 0.5rem;
  overflow: hidden;
}

.ws-button {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: #545454;
  border: 1px solid #ddd;
  border-radius: 4px;
  height: 60px;
  width: 250px;
}

.ws-icon {
  align-self: center;
}

.ws-text {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  margin-left: 10px;
}

.ws-welcome-logo {
  height: 20rem;
  width: 20rem;
}

.ws-welcome-image {
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
}

.ws-app-name {
  display: block;
  font-size: 3rem;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

.ws-description {
  display: block;
  font-size: 1rem;
  margin-bottom: 1rem;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
